{% extends "shortener/base2.html" %}
{% block title %}
   Home 
{% endblock title %}
{% block content %}
    <div>
        <p>A webservice to shorten URLs</p>
        <h3>Shorten the URL</h3>
         
        <form action='.' method='POST'>
        {% csrf_token %} 
        <div class='input-group'>
        {{ form }}
        <!--<input class='btn btn-primary' id='submit' type='submit' value='Shrink &raquo;' style="margin-top:10px;"/>
-->
            <span class='input-group-btn'>
                <button class='btn btn-primary' id='submit' type='submit'>
                    <i class="fa fa-compress"></i> Shrink 
                </button> 
            </span>
        </div>
        </form>
    </div>
{% endblock content %}

